[Unit]
Description=Kernel Modules Dependency Update Service

[Service]
Type=oneshot
ExecStart=/bin/depmod -a
RemainAfterExit=yes

[Install]
WantedBy=basic.target
